:root{
	--border-color: #2f3136;
}

body{
	background-color: black;
	color: whitesmoke;
	overflow-x: hidden;
}

/*NAV*/

.nav{
	border-right: 5px solid var(--border-color);
	width: 20%;
	padding: none;
	margin-top: -10px;
	height: 100%;
	position: fixed;
	z-index: 2;
}

#BD{
	font-size: 40px;
}

#BD a{
	color: whitesmoke;
	text-decoration: none;
}

#join{
	font-size: 20px;
	padding: 5px;
    background-color: #7289da;
    border: 1px solid #7289da;
    width: 75px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 31%;
    border-radius: 10px;
    transition: background-color 0.33s, border 0.33s;
}

#join:hover{
    background-color: black;
	border: 1px solid var(--border-color);
}

.joina{
	text-decoration: none;
	text-align: center;
}

a #join{
	color: whitesmoke;
	text-decoration: none;
	text-align: center;
	font-family: Calibri, sans-serif
}

.dashboardpluginc{
	
}

/*Body*/

div#body{
	margin-left: 23%;
	height: 100%;
	overflow-y: hidden;
}

.themetitle{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.themectitle{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.plugintitle{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.pluginctitle{
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.navseparator{
	border-top: 2px solid var(--border-color);
	width: 98%;
	margin-left: 0px;
}

.Discordcom{
	margin-top: 10px;
	background-color: #5966f3;
	border: 1px solid #5966f3;
	border-radius: 10px;
	width: 98%;
	text-align: center;
	transition: background-color 0.33s, border 0.33s;
}

.Discordcom:hover{
	background-color: black;
	border: 1px solid var(--border-color);
}

.Discordcom img{
	width: 209px;
	height: 50px;
	padding-top: 10px;
}

.navthemea{
	color: whitesmoke;
	text-decoration: none;
}

.Beta{
	float: right;
	margin-top: -5px;
	margin-right: 10px;
	background-color: #7289da;
	padding: 5px;
	border-radius: 20px 20px;
	z-index: 2 !important;
}

.navtheme{
	font-size: 20px;
	padding: 5px;
    background-color: #7289da;
    border: 1px solid #7289da;
    width: 65px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 33%;
    border-radius: 10px;
    transition: background-color 0.33s, border 0.33s;
    text-align: center;
}

.navtheme:hover{
    background-color: black;
	border: 1px solid var(--border-color);
}

.navinstallerBD{
	font-size: 20px;
	padding: 5px;
    background-color: #7289da;
    border: 1px solid #7289da;
    width: 140px;
    height: 61.2px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20%;
    border-radius: 10px;
    transition: background-color 0.33s, border 0.33s;
    text-align: center;
    cursor: default;
}

.imginstallerBD{
	width: 22px;
	height: 22px;
	margin-top: -10px
}

.BDimg{
	margin-top: 10px;
	margin-right: 5px;
}

.bodyseparator{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 3px solid var(--border-color);
	width: 97%;
}

.navpluga{
	color: whitesmoke;
	text-decoration: none;
}

.navplug{
	font-size: 20px;
	padding: 5px;
    background-color: #7289da;
    border: 1px solid #7289da;
    width: 65px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 33%;
    border-radius: 10px;
    transition: background-color 0.33s, border 0.33s;
    text-align: center;
}

.navplug:hover{
    background-color: black;
	border: 1px solid var(--border-color);
}

/*DiscordEdit*/

.DiscordEdit{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;
	display: inline-block;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Calibri, sans-serif;
}

.DiscordEditimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	z-index: 1;
}

.DiscordEdittitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.DiscordEditdesc{
	font-size: 15px;
}

.DiscordEdittitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.DiscordEditauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.DiscordEdittitleauthor{
	margin-left: 5px;
	font-size: 15px;
}

.DiscordEditdownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.DiscordEditdownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.DiscordEditdownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.DiscordEditseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.DiscordEditWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
}

/*RadialStatus*/

.RadialStatus{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;
	font-family: Calibri, sans-serif;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
}

.RadialStatusimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
}

.RadialStatustitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.RadialStatusdesc{
	font-size: 15px;
}

.RadialStatustitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.RadialStatusauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.RadialStatustitleauthor{
	margin-left: 5px;
	font-size: 15px;
}

.RadialStatusdownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.RadialStatusdownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.RadialStatusdownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.RadialStatusseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.RadialStatusWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.RadialStatusWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*ReadAllNotificationsButton*/

.ReadAllNotificationsButton{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;
	font-family: Calibri, sans-serif;
	margin-left: 10px;
	margin-top: 20px;
}

.ReadAllNotificationsButtonimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
}

.ReadAllNotificationsButtontitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.ReadAllNotificationsButtondesc{
	font-size: 15px;
}

.ReadAllNotificationsButtontitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.ReadAllNotificationsButtonauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.ReadAllNotificationsButtontitleauthor{
	margin-left: 5px;
	font-size: 15px;
}

.ReadAllNotificationsButtondownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.ReadAllNotificationsButtondownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.ReadAllNotificationsButtondownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.ReadAllNotificationsButtonseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.ReadAllNotificationsButtonWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.ReadAllNotificationsButtonWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*CallTimeCounter*/

.CallTimeCounter{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;
	display: inline-block;
	margin-left: 10px;
	margin-top: 20px;
	font-family: Calibri, sans-serif;
}

.CallTimeCounterimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
}

.CallTimeCountertitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.CallTimeCounterdesc{
	font-size: 15px;
}

.CallTimeCountertitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.CallTimeCounterauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.CallTimeCountertitleauthor{
	margin-top: 25px;
	margin-left: 5px;
	font-size: 15px;
}

.CallTimeCounterdownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.CallTimeCounterdownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.CallTimeCounterdownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.CallTimeCounterseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.CallTimeCounterWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.CallTimeCounterWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*SplitLargeMessages*/

.SplitLargeMessages{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;

	margin-left: 10px;
	margin-top: 20px;
	font-family: Calibri, sans-serif;
}

.SplitLargeMessagesimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
}

.SplitLargeMessagestitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.SplitLargeMessagesdesc{
	font-size: 15px;
}

.SplitLargeMessagestitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.SplitLargeMessagesauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.SplitLargeMessagestitleauthor{
	margin-left: 5px;
	font-size: 15px;
}

.SplitLargeMessagesdownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.SplitLargeMessagesdownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.SplitLargeMessagesdownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.SplitLargeMessagesseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.SplitLargeMessagesWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.SplitLargeMessagesWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*GameActivityToggle*/

.GameActivityToggle{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;

	margin-left: 10px;
	margin-top: 20px;
	font-family: Calibri, sans-serif;
}

.GameActivityToggleimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
}

.GameActivityToggletitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.GameActivityToggledesc{
	font-size: 15px;
}

.GameActivityToggletitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.GameActivityToggleauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.GameActivityToggletitleauthor{
	margin-top: 25px;
	margin-left: 5px;
	font-size: 15px;
}

.GameActivityToggledownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.GameActivityToggledownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.GameActivityToggledownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.GameActivityToggleseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.GameActivityToggleWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.GameActivityToggleWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*CustomStatusPresets*/

.CustomStatusPresets{
	border: 5px solid var(--border-color);
	width: 400px;
	height: 482.4px;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 10px;
	font-family: Calibri, sans-serif;
}

.CustomStatusPresetsimg{
	border: 1px solid var(--border-color);
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	width: 380.8px;
	height: 184px;
	object-fit: cover;
	text-align: CENTER;
}

.CustomStatusPresetstitle{
	font-size: 20px;
	text-align: center;
	text-decoration-line: underline;
}

.CustomStatusPresetsdesc{
	font-size: 15px;
}

.CustomStatusPresetstitledesc{
	margin-left: 5px;
	font-size: 15px;
}

.CustomStatusPresetsauthor{
	font-size: 15px;
	text-align: center;
	margin-bottom: 10px;
}

.CustomStatusPresetstitleauthor{
	margin-top: 25px;
	margin-left: 5px;
	font-size: 15px;
}

.CustomStatusPresetsdownloada{
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.CustomStatusPresetsdownloaddiv{
	padding: 5px;
	background-color: #7289da;
	width: 105px;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 147.5px;
	border: 1px solid #7289da;
	font-family: Calibri, sans-serif;
	transition: background-color 0.33s, border 0.33s;
}

.CustomStatusPresetsdownloaddiv:hover{
	border: 1px solid var(--border-color);
	background-color: black;
}

.CustomStatusPresetsseparator{
	border-top: 1px solid var(--border-color);
	width: 380px;
	margin-left: 10px;
}

.CustomStatusPresetsWebsite{
	margin-top: 10px;
	padding-bottom: 5px;
	margin-left: 10px;
	width: 30px;
	display: flex;
	align-items: stretch;
}

.CustomStatusPresetsWebsitea{
	margin-left: 5px;
	display: flex;
	align-items: stretch;
}

/*Note 1*/

#n1{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.33);
	z-index: 40;
	display: flex;
	margin: -8px;
}

div.n1box{
	background-color: black;
	border-top: 1px solid var(--border-color);
	color: whitesmoke;
}