/**
 * @name C_theme_SC
 * @version 0.0.2
 * @author E.
 */

/*couleur :
https://htmlcolorcodes.com/fr/
*/

:root{

    /*couleur du fond*/
    --background-color: rgba(0, 0, 0, 0.2)!important;
        /*rgba(0, 0, 0, 0.2)*/
    --color-2: #053f9f !important;
        /*#053f9f*/
    --color-3: rgba(1, 63, 162, 0.3) !important;
        /*rgba(1, 63, 162, 0.3)*/
    --color-4: hsla(5,calc(var(--saturation-factor, 1)*63%),159%,0.1)!important;
        /*hsla(5,calc(var(--saturation-factor, 1)*63%),159%,0.1)*/
    --mentioned-hover: hsla(5,calc(var(--saturation-factor, 1)*63%),159%,0.08)!important;
        /*hsla(5,calc(var(--saturation-factor, 1)*63%),159%,0.08)*/
    --background-img: url(https://cdn.discordapp.com/attachments/852608656666787877/945424548164157470/pp_maxence_-_Copie.png);

    --border-voc-1: inset 0 0 0 2px hsl(217,99%,32%),inset 0 0 0 3px var(--background-secondary)!important;
        /*inset 0 0 0 2px hsl(217,99%,32%),inset 0 0 0 3px var(--background-secondary)*/
    --border-voc-2: inset 0 0 0 2px hsl(217,calc(var(--saturation-factor, 1)*99%),32%),inset 0 0 0 3px var(--background-secondary)!important;
        /*inset 0 0 0 2px hsl(217,calc(var(--saturation-factor, 1)*99%),32%),inset 0 0 0 3px var(--background-secondary)*/
    --text-normal: #dcddde;
    /*#dcddde*/

    --box-shadow-speak-user: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-secondary);

    /*default edit discord*/

    --background-primary: var(--background-color);
    --background-secondary: var(--background-color);
    --background-tertiary: var(--background-color);
    --background-secondary-alt: var(--background-color);
    --channeltextarea-background: var(--background-color);
}

.theme-light{
    --header-primary: #dcddde;
    --header-secondary: #dcddde;
    --text-normal: #dcddde;
    --background-primary: var(--background-color);
    --background-secondary: var(--background-color);
    --background-tertiary: var(--background-color);
    --background-secondary-alt: var(--background-color);
    --channeltextarea-background: var(--background-color);
}

.appMount-2yBXZl, body{
    background-image: var(--background-img);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--color-2);
    background-size: 512px;
}

.chatContent-3KubbW{
    background-color: rgba(0, 0, 0, 0.5);
}

.membersWrap-3NUR2t{
    background-color: rgba(0, 0, 0, 0.2);
}

.panels-3wFtMD{
    background-color: rgba(0, 0, 0, 0.7);
}

.searchBar-3TnChZ{
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper-1_HaEi.guilds-2JjMmN{
    background-color: rgba(0, 0, 0, 0.5);
}

.titleBar-1it3bQ{
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 0px;
    padding-top: 4px;
}

.platform-win .sidebar-1tnWFu{
    border-radius: 0 0 0 0;
}

.sidebarRegion-1VBisG{
    background-color: rgba(0, 0, 0, 0.4);
}

.container-2o3qEW{
    background-color: rgba(0, 0, 0, 0.4);
}

.members-3WRCEx, .members-3WRCEx>div{
    background-color: transparent;
}

.membersWrap-3NUR2t.hiddenMembers-8kpYM0{
    background-color: transparent;
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_{
    background-color: rgba(0, 0, 0, 0.7);
}

.header-3OsQeK{
    background-color: rgba(0, 0, 0, 0.7);
}

.circleIconButton-1VxDrg.selected-2r1Hvo{
    background-color: var(--color-2);
    color: white;
}

.circleIcon-3489FI path{
    fill: var(--color-2);
}

.circleIconButton-1VxDrg.selected-2r1Hvo>.circleIcon-3489FI>path{
    fill: white;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
    background-color: var(--color-2);
}

.avatarContainer-3FF_Km.avatar-3FKimL.avatarSmall-3qwAkA{
  box-shadow: var(--border-voc-2)
}

.avatarContainer-3FF_Km.avatar-3FKimL.avatarSmall-3qwAkA.avatarSpeaking-2pCGrZ{
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-floating) !important;
}

.border-2BJQjd{
  box-shadow: var(--border-voc-1);
}

.border-2BJQjd.speaking-3RWJBr{
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-floating);
}

.border-2Vy6FN{
  box-shadow: var(--border-voc-1);
}

.pageWrapper-2PwDoS{
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.wrapper-1gVUIN.minimum-fXpVNc{
    background-color: rgba(0, 0, 0, 0.7);
}

.thin-31rlnD.scrollerBase-_bVAAt{
    background-color: rgba(0, 0, 0, 0.3);
}

.scroller-WSmht3.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN{
    background-color: var(--background-secondary);
}

.scroller-1ox3I2.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN{
    background-color: var(--background-secondary);
}

.root-g14mjS{
    background: var(--color-3) !important;
}

.footer-31IekZ{
    background: var(--color-3) !important;
}

.container-x8Y1ix:hover>.colorStandard-21JIj7{
    color: white;
}

.container-x8Y1ix:hover>img{
    filter: invert(100%);
}

.icon-AynerZ.desaturate-_Twf3u{
    filter: invert(0%) !important;
}

.title-1_TkpU.base-21yXnu.size24-17l95E{
    color: white;
}

.base-21yXnu{
    color: white;
}

.container-x8Y1ix{
    background-color: rgba(1, 63, 162, 0.3);
}

.colorStandard-21JIj7{
    color: black;
}

.mentioned-Tre-dv{
    background-color: var(--color-4);
}

.mentioned-Tre-dv:before{
    background-color: var(--color-2);
}

.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy, .mouse-mode.full-motion .mentioned-Tre-dv:hover{
    background-color: hsla(5,calc(var(--saturation-factor, 1)*63%),159%,0.08);
}

.container-2cd8Mz{
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.container-36u7Lw{
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.nowPlayingColumn-1eCBCN{
    background: rgba(0, 0, 0, 0) !important;
}

.scroller-hE2gWq{
    background: rgba(0, 0, 0, 0) !important;
}

.wrapper-2RrXDg{
    background: rgba(0, 0, 0, 0) !important;
}

.rowWrapperActive-nOO7R3:hover, .rowWrapperGlow-3JkLXy:hover>.theme-dark .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q, .theme-light .lookFilled-yCfaCM.hoverGreen-1KfT6K.hasHover-26V98q {
    background-color: var(--color-4);
}

.button-f2h6uQ.lookFilled-yCfaCM.colorGreen-3y-Z79.hoverGreen-1KfT6K.actionButtonSize-YdOZQv.grow-2sR_-F.hasHover-26V98q{
    background-color: var(--color-2);
}

.colorStandard-21JIj7{
    color: white;
}

.scroller-29cQFV{
    background-color: rgba(0, 0, 0, 0.6);
}

.applicationStore-2nk7Lo{
    background-color: rgba(0, 0, 0, 0);
}

.children-3xh0VB::after{
    opacity: 0;
}

.headerBar-1dSpQr.container-ZMc96U.themed-Hp1KC_{
    background-color: rgba(0, 0, 0, 0.7)
}

.members-3WRCEx.thin-31rlnD.scrollerBase-_bVAAt.fade-1R6FHN{
    background-color: rgba(0, 0, 0, 0.0);
}

.form-3gdLxP:before{
    opacity: 0;
}

.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3{
    --color-3: rgba(1, 63, 162,1) !important;
}

.box-BHImcZ.checked-1pZh2h{
    border: solid 3px whitesmoke;
}
.checked-1pZh2h svg path{
    fill: whitesmoke;
}

.callContainer-HtHELf{
    background: rgba(0, 0, 0, 0.7);
}

.background-L8lGH6[style="background-color: rgb(0, 0, 0);"]{
    background-color: rgba(0, 0, 0, 0)!important;
}

.tile-2TcwiO{
    background-color: rgba(0, 0, 0, 0);
}

/*TROLL*/

body:before{
    content: "T PD ?";
    position: fixed;
    margin-left: calc(50% - 115.8px);
    margin-top: 25%;
    color: var(--text-normal);
    font-weight: bold;
    font-size: 500%;
    z-index: 2000;
    opacity: 1;
}

.rightTrayIcon-1m3hnG.button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ.grow-2sR_-F/*[aria-label*="Plein écran"]*/{
    margin-left: 1000px;
}
