/* Radial Status */

div.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionNormal-2jWoC2.clickable-GKg4Qy .avatarHoverTarget-1zzfRL .mask-1FEkla.svg-2azL_l{
  margin-left:0px;
}

.avatarHint-k7pYop{
  margin-left:5px;
}

div.avatarWrapperNormal-ahVUaC.avatarWrapper-eenWra.avatarPositionNormal-2jWoC2.clickable-GKg4Qy .avatarHoverTarget-1zzfRL .wrapper-1VLyxH{
  margin-left: 5px;
}

.avatarHoverTarget-1zzfRL .avatarStack-3vfSFa .avatar-b5OQ1N{
  background-color: black;
  width: 85px;
  height: 85px;
  margin-left: -2.2px;
  margin-top: -2.2px;

}

/*CSS*/

/*Text color*/
.container-1oeRFJ{
  color: var(--text-color);
}

/*background-color*/

.appMount-2yBXZl{
  background-image: var(--background-img);
  background-size: cover;
  background-position: center;
  filter: var(--filter-img);
}

.tabBody-2dgbAs{
  background-color: var(--background-color);
}

.content-2hZxGK.content-GYGe57.thin-31rlnD.scrollerBase-_bVAAt{
  background-color: var(--background-color);
}

.pageWrapper-2PwDoS{
  background-color: var(--background-color) !important;
  border: 5px solid var(--border-color);
}

.root-g14mjS{
  background-color: var(--background-color) !important;
}

.footer-31IekZ{
  background-color: var(--background-color) !important;
}

.chat-2ZfjoI{
  filter: var(--filter-img);
}

.numberBadge-37OJ3S.base-3IDx3L.baseShapeRound-3epLEv{
  background-color: var(--border-color) !important;
}

.lookFilled-yCfaCM.colorGreen-3y-Z79{
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  opacity: 0.5;
}

.lookFilled-yCfaCM:hover.colorGreen-3y-Z79{
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  opacity: 1;
}

.userPopout-2j1gM4{
  background-color: var(--background-color);
}

.bodyInnerWrapper-2bQs1k{
  background-color: var(--background-color);
}

.footer-3naVBw{
  background-color: var(--background-color);
}

.bg-1QIAus{
  background-color: var(--background-color);
}

.standardSidebarView-E9Pc3j{
  background-color: initial;
}

.contentRegion-3HkfJJ{
  background-color: initial;
}

.layer-86YKbF{
  background-color: initial;
}

.app-2CXKsg{
  background-color: var(--background-color);
}

/*border*/

.chat-2ZfjoI{
  border: 5px solid var(--border-color);
}

.wrapper-1gVUIN.minimum-fXpVNc{
  border-bottom: 5px solid var(--border-color);
}

.sidebar-1tnWFu{
  border: 5px solid var(--border-color);
  border-right: none;
}

.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt{
  border: 5px solid var(--border-color);
  border-right: none;
}

.container-1zzFcN{
  border-bottom: 5px solid var(--border-color);
}

.wrapper-1gVUIN.normal-qRirv5.video-3n15R6{
  border-bottom: 5px solid var(--border-color);
}

.title-31SJ6t.container-ZMc96U.themed-Hp1KC_{
  border-bottom: 5px solid var(--border-color);
}

.scrollableContainer-15eg7h.webkit-QgSAqd{
  border: 5px solid var(--border-color);
}

.divider-q3P9HC{
  width: 2px;
  background-color: var(--border-color);
}

.platform-win .sidebar-1tnWFu{
  border-radius: 0 0 0 0;
}

.channel-1Shao0.container-1oeRFJ.selected-1-Z6gm{
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.channel-1Shao0.container-1oeRFJ.highlighted-3PcOfB.clickable-28SzVr{
  border-left: 2px solid grey;
  border-right: 2px solid grey;
}

.selected-1-Z6gm .layout-1qmrhw{
  background-color: var(--background-color);
}

.layout-1qmrhw{
  background-color: var(--background-color)!important;
}

.container-2cd8Mz{
  border: 5px solid var(--border-color);
}

.container-ZMc96U.themed-Hp1KC_{
  border-bottom: 5px solid var(--border-color);
}

.panels-3wFtMD{
  border-top: 5px solid var(--border-color);
}

.nowPlayingColumn-1eCBCN{
  border-left: 5px solid var(--border-color);
}

.itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a{
  border: 2px solid var(--border-color);
}

.body-16rSsp.inset-SbsSFp{
  border: 2px solid var(--border-color);
}

.container-3u6dG-.scroller-2XLwLg.stickyScroller-2KHfQk.auto-2K3UW5.scrollerBase-_bVAAt{
  border: 5px solid var(--border-color);
  border-top: none;
}

.libraryHeader-2loraV.container-ZMc96U.themed-Hp1KC_{
  border: 5px solid var(--border-color);
}

.panel-2ZFCRb.activityPanel-9icbyU{
  border-bottom: 5px solid var(--border-color);
}

.container-2o3qEW{
  border: 5px solid var(--border-color);
  border-right: none;
  border-top: none;
}

.membersWrap-3NUR2t{
  border-left: 5px solid var(--border-color);
}

.membersWrap-3NUR2t.hiddenMembers-8kpYM0{
  border: none;
}

.button-1EGGcP.buttonColor-3bP3fX.button-f2h6uQ.lookFilled-yCfaCM.colorBrand-I6CyqQ.sizeSmall-wU2dO-.grow-2sR_-F.button-1EGGcP{
  border: 2px solid var(--border-color);
}

.wrapper-1HIH0j.userSelectNone-3AtPzf.cursorDefault-2KkZ5q{
  border: 4px solid var(--border-color);
}

.colorStandard-21JIj7.size14-3fJ-ot.h5-2RwDNl.title-3hptVQ.header-3anOjb{
  border-bottom: 4px solid var(--border-color);
}

.flex-2S1XBF.flex-3BkGQD.vertical-3aLnqW.flex-3BkGQD.directionColumn-3pi1nm.justifyCenter-rrurWZ.alignStretch-Uwowzr.noWrap-hBpHBz.guildInfo-UCKhrV{
  border-right: 4px solid var(--border-color);
}

.icon-1zKOXL.guildIconImage-74OdmM.guildIcon-3ZfRfI.iconSizeLarge-_r2zCK.iconActiveLarge-ac-EDu{
  border: 4px solid var(--border-color);
}

.headerNormal-3Zn_yu{
  border: 5px solid var(--border-color);
}
  .popoutBanner-3cqRD9{
    width: 290px;
  }

.headerTop-3GPUSF{
  border-left: 5px solid var(--border-color);
  border-right: 5px solid var(--border-color);
}

.body-2wLx-E.thin-31rlnD.scrollerBase-_bVAAt{
  border: 5px solid var(--border-color);
  border-top: none;
}

.footer-3naVBw{
  border: 5px solid var(--border-color);
  border-top: none;
  padding-top: 10px;
}

.inputDefault-3FGxgL.input-2g-os5.input-2z42oC{
  border: 2px solid var(--border-color);
}

.divider-1wtgZ3{
  height: 5px;
  background-color: var(--border-color);
}

.expandedFolderBackground-1kSAf6{
  background-color: var(--border-color);
}

.folder-241Joy{
  background-color: var(--border-color);
}

.folder-241Joy.hover-3m7-WT{
  background-color: var(--color-icon);
}

.container-2RRFHK.fixClipping-3GOd_d{
  border: 5px solid var(--border-color);
}

.animatedContainer-2laTjx, .bannerImage-ubW8K-{
  border-bottom: 5px solid var(--border-color);
}

.contentRegion-3HkfJJ{
  border: 5px solid var(--border-color);
}

.sidebarRegion-1VBisG{
  border: 5px solid var(--border-color);
  border-right: none;
}



/*Border embed*/

.embedFull-1HGV2S{
  border: 4px solid var(--background-tertiary);
}

.embedSuppressButton-1rZHq6{
  right: -25px;
}

/*Window top bar*/

.typeWindows-2-g3UY.withFrame-2dL45i.titleBar-1it3bQ.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr{
  border: 5px solid var(--border-color);
  border-bottom: none;
  margin-top: 0;
  background-color: var(--background-color);
}

.winButton-3UMjdg{
  height: 18px;
  top: 0px;
}

/*Vocal Border*/

.avatarContainer-3FF_Km.avatar-3FKimL.avatarSmall-3qwAkA{
  box-shadow: var(--box-shadow-speak-user)
}

.avatarContainer-3FF_Km.avatar-3FKimL.avatarSmall-3qwAkA.avatarSpeaking-2pCGrZ{
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-secondary);
}

.border-2BJQjd{
  box-shadow: var(--box-shadow-speak-user)
}

.border-2BJQjd.speaking-3RWJBr{
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-secondary);
}

.border-2Vy6FN{
  box-shadow: var(--box-shadow-speak-user)
}

/*Icon*/

.circleIconButton-1VxDrg{
  color: var(--color-icon);
}

.circleIconButton-1VxDrg.selected-2r1Hvo{
  color: white;
  background-color: var(--color-icon);
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub{
  background-color: var(--color-icon);
}

.colorInfo-1kEg3T{
  background-color: var(--color-icon);
}

.homeWrapperNormal-bu1BS6.homeWrapper-L4ors0{
  border: 5px solid var(--border-color);
}

/* chat notif */

.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.isUnread-3Lojb-.hasContent-31hcsn{
  border-color: var(--color-icon);
}

.isUnread-3Lojb- .content-3spvdd{
  color: var(--color-icon);
}

.unreadPill-3nEWYM{
  background-color: var(--color-icon);
}

.unreadPillCapStroke-1nE1Q8{
  color: var(--color-icon);
  fill: var(--color-icon);
}

.newMessagesBar-1hF-9G{
  background-color: var(--color-icon);
}

.live-1V2D-f.liveLarge-IxMVzY.textBadge-1fdDPJ.base-3IDx3L.liveShapeRoundRight-1ifBrO[style*="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]{
  background-color: var(--color-icon) !important;
}

.live-1V2D-f.liveLarge-IxMVzY.textBadge-1fdDPJ.base-3IDx3L.liveShapeRound-2Tgi2d[style*="background-color: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);"]{
  background-color: var(--color-icon) !important;
}

.isUnread-3Lojb- {
    border-color: var(--color-icon);
}

.container-3XgAHv.floating-3M3WeH{
  border-left: 5px solid var(--border-color);
  border-radius: 0;
}

.theme-dark .background-fkKrXt{
  background-color: var(--background-color);
}

.userAvatar-3Hwf1F.avatar-3FKimL.avatarSmall-3qwAkA{
  box-shadow: var(--box-shadow-speak-user);
}

.userAvatar-3Hwf1F.avatar-3FKimL.avatarSmall-3qwAkA.avatarSpeaking-2pCGrZ{
  box-shadow: inset 0 0 0 2px hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%),inset 0 0 0 3px var(--background-secondary);
}

.username-h_Y3Us.desaturateUserColors-1O-G89.clickable-31pE3P[style="color: rgb(2, 1, 1);"]{
  color: white !important;
}

.username-u-ebrn.desaturateUserColors-1O-G89[style="color: rgb(2, 1, 1);"]{
  color: white !important;
}

.avatar-2e8lTP{
  border: solid 3px var(--color-icon);
}

.bd-notice{
  background-color: var(--color-icon);
}
.wrapper-1gVUIN.minimum-fXpVNc .callContainer-HtHELf{
   background-color: var(--background-color); 
}

.membersWrap-3NUR2t .members-3WRCEx{
    height: auto !important;
}

.row-x_t5Ya+.row-x_t5Ya{
    padding-top: 15px;
}
.avatar-3TrM7c{
    border: solid 2px #1D8EFF;
}

#app-mount .wrapper-1VLyxH.viewer-1av623,#app-mount .wrapper-1VLyxH.avatar-3a2ws7{
    border: solid 3px #1D8EFF;
}

.avatarContainerMasked-13fYnN foreignObject img{
    width: 20px!important;
    height: 20px!important;

}

.size24-9rrwDS .avatarContainer-gPrCzX img{
    width: 20px!important;
    height: 20px!important;
}

.row-x_t5Ya.rowGuildName-21wur6{
    padding-bottom: 0px;
}

.wordmarkWindows-2dq6rw{
    left: 50%;
}
.typeWindows-2-g3UY.withFrame-2dL45i.titleBar-1it3bQ.horizontalReverse-2QssvL.flex-3BkGQD.directionRowReverse-HZatnx.justifyStart-2Mwniq.alignStretch-Uwowzr::before{
    content: "Thème By E.";
    left: 0;
    position: absolute;
    margin-left: 7px;
    color: var(--color-icon);
    font-weight: bold;
}

.profilePanel-2PWEok{
  border-left: 5px solid var(--border-color);
}
