.expandedFolderBackground-3ZDF05{
    border-color: solid var(--border-color) 3px;
}

.app-2rEoOp button {
    color: var(--text-color) !important;
}

.members-1998pB, .members-1998pB>div{
	background-color: var(--background-color);
}

.chatContent-a9vAAp{
	border-bottom: 5px solid var(--border-color);
	border-right: 5px solid var(--border-color);
}

.wrapper-2qzCYF.normal-1oavYI{
	border-bottom: 5px solid var(--border-color);
}

.bd-author{
	color: var(--text-color);
	font-weight: bold;
}

.bd-link{
	font-weight: bold;
}

div.chat-3bRxxu{
    background-color: var(--background-color);
}

div.chat-3bRxxu div.content-yTz4x3 div.membersWrap-2h-GB4 div.members-1998pB div.content-3YMskv{
    background-color: var(--background-color);
}

div.chat-3bRxxu div.content-yTz4x3 div.membersWrap-2h-GB4 div.members-1998pB{
    background-color: var(--background-color);
}

div.children-19S4PO::after{
    background-color: var(--background-color);
}

div.container-1D34oG {
    background-color: var(--background-color);
}

.theme-dark div.container-1D34oG{
    background-color: var(--background-color);
}

div.container-1D34oG div.tabBody-3YRQ8W div.nowPlayingColumn-2sl4cE div.container-lRFx4q{
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-top: none;
}

section.container-1r6BKw.themed-ANHk51{
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-left: none;

}

div.scroller-1IIF0A{
    background-color: var(--background-color);
}

.header-39GIC8{
    background-color: var(--background-color);
}

form.form-2fGMdU::before{
    background-color: var(--background-color);
}

/*menu option*/

.contentRegion-3nDuYy{
	border: 5px solid var(--border-color);
}

.sidebarRegion-VFTUkN{
	border: 5px solid var(--border-color);
	border-right: none;
}

div.sidebarRegionScroller-3MXcoP{
    background-color: var(--background-color);
}

div.contentRegionScroller-26nc1e{
    background-color: var(--background-color);
}

div.scroller-1Bvpku{
    background-color: var(--background-color);
}

.theme-dark .children-19S4PO:after{
	visibility: hidden;
}

.theme-dark .form-2fGMdU:before{
	visibility: hidden;
}

/*icon*/

.attachButtonPlus-jWVFah{
	fill: var(--color-icon);
}

.buttonWrapper-1ZmCpA{
	color: var(--color-icon);
}

.contents-18-Yxp.attachButtonInner-PQjIyk{
	fill: var(--text-icon);
}

.clickable-3rdHwn .icon-22AiRD{
	color: var(--color-icon);
}

.button-3AYNKb{
	color: var(--color-icon);
}

.app-2rEoOp button{
	color: var(--color-icon);
}

/*Pseudo*/

.username-1A8OIy{
	color: var(--pseu-color);
}

.title-eS5yk3{
	color: var(--pseu-color);
}

.subtext-3CDbHg{
	color: var(--text-color);
	opacity: 0.75;
}

.membersWrap-2h-GB4{
	border: 5px solid var(--border-color);
	border-top: none;
	border-left: none;
}

/*Vocal*/

.wrapper-2qzCYF{
	border: 5px solid var(--border-color);
	border-left: none;
}

.ping-2NgC8E{
	color: var(--color-icon);
}

.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3{
	color: var(--color-icon);
}

.contents-18-Yxp{
	color: var(--text-color);
}

.statusWithPopout-3ZfFol .rtcConnectionStatusConnected-VRZDjy .rtcConnectionStatusLabel-1wk4tH .button-38aScr .lookBlank-3eh9lL .colorBrand-3pXr91 .grow-q77ONN .contents-18-Yxp{
	color: var(--color-icon);
}

.subtext-3CDbHg{
	color: var(--text-color);
	opacity: 0.75;
}

.voiceTimer{
	color: var(--text-color);
	opacity: 0.75;
}

/*text*/

.cozy-3raOZG .messageContent-2qWWxC{
	color: var(--text-color);
}

.mentioned-xhSam7{
	background-color: var(--men-back-color);
}

.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover{
	background-color: var(--men-back-h-color);
}

.mentioned-xhSam7::before{
	background-color: var(--men-t-back-color);
}

.unreadPill-2HyYtt{
	background-color: var(--men-back-h-color);
}

.unreadPillCap-3_K2q2 {
    display: block;
    left: -8px;
    top: 0;
}

.divider-JfaTT5{
	border-top: 3px solid var(--men-back-h-color);
}

.content-1o0f9g{
	color: var(--text-color);
	background: var(--color-icon);
}

.unreadPillCapStroke-7rkHbg{
	fill: var(--men-back-h-color);
	color: var(--men-back-h-color);
}

.newMessagesBar-265mhP{
	background-color: black;
	border: 5px solid var(--border-color);
	border-top: none;
}

/*boite d'envoie message*/

.icon-3D60ES{
	color: var(--color-icon);
}

.channelTextArea-rNsIhG{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.scrollableContainer-2NUZem{
	background-color: var(--background-color);
}

.sansAttachButton-td2irx{
	background-color: var(--background-color);
}

div.chat-3bRxxu section.title-3qD0b-{
    background-color: var(--background-color);
    border-bottom: 5px solid var(--border-color);
}

/*boite nav*/

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx .childWrapper-anI2G9{
	background-color: var(--background-color);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
	background-color: var(--color-icon);
}

.childWrapper-anI2G9{
	background-color: var(--color-icon);
}

.name-uJV0GL{
	color: var(--text-color);
}

.avatar-3uk_u9{
	color: var(--color-icon);
}

.headerText-2F0828{
	color: var(--text-color);
}

.privateChannelsHeaderContainer-3NB1K1{
	border-top: 5px solid var(--border-color);
}

div.sidebar-2K8pFh nav{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.activityPanel-28dQGo{
	background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

.container-1giJp5{
	background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-top: none;
    border-left: none;
    border-right: none;
}

section.panels-j1Uci_{
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-top: none;
}

.container-3baos1 .avatar-SmRMf2{
	/*border: 3px solid var(--border-color);*/
}

.pointerEvents-2zdfdO{
	background-color: black;
}

/*Serv nav*/

.item-2hkk8m{
	background-color: white;
}

div.scroller-1Bvpku{
	background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-right: none;
}

.circleIconButton-1QV--U{
	color: var(--text-color);
	background-color: var(--background-color);
}

.circleIconButton-1QV--U.selected-1JjBPm{
	color: White;
	background-color: var(--color-icon);
}

/*Amis*/

.scroller-2ZPeAD{
	background-color: var(--background-color);
}

.icon-22AiRD{
	color: var(--color-icon);
}

.title-29uC1r{
	color: var(--text-color);
}

.textContent-3N7xXx{
	color: var(--text-color);
}

.colorHeaderSecondary-3Sp3Ft{
	color: var(--text-color);
	opacity: 0.75;
}

.wrapper-3D2qGf{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.section-2gLsgF{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover{

}

.tabBar-ZmDY9v .item-3HknzM, .tabBody-3YRQ8W{
	color: var(--text-color);
}

.username-31C1TQ{
	color: var(--text-color);
}

.text-3MU_QQ{
	color: var(--text-color);
	opacity: 0.75;
}

.title-30qZAO{
	color: var(--text-color);
}

/*Menu jeu : jeu*/

.row-ZLfFhY{
	border: 5px solid var(--border-color);
}

.flex-1xMQg5{
	opacity: 1;
}

.scroller-2XE8rp{
	background-color: var(--background-color);
}

.title-31JmR4{
	color: var(--text-color);
}

.description-3_Ncsb, .labelDescriptor-1PqHgD{
	color: var(--text-color);
	opacity: 0.75;
}

.theme-dark .rowTitle-1KYtY7{
	color: var(--text-color);
}

.theme-dark .rowBody-3dJTTZ{
	color: var(--text-color);
	opacity: 0.75;
}

.foreground-2aE44H.path-3H_ZFA{
	stroke: var(--color-icon);
}

/*Nitro*/

.scroller-9moviB{
	background-color: var(--background-color);
}

.premiumContainer-2Iux5m{
	background-color: var(--background-color);
    border: 5px solid var(--border-color);
    border-top: none;
}

/* 12_09_2021 */

.border-Jn5IOt{
    box-shadow:inset 0 0 0 2px hsl(197,calc(var(--saturation-factor, 1)*100%),50%),inset 0 0 0 3px var(--background-floating)
}

.border-3dQmSY{
    box-shadow:inset 0 0 0 2px hsl(197,calc(var(--saturation-factor, 1)*100%),50%),inset 0 0 0 3px var(--background-floating)
}

img.voiceAvatar-14IynY{
    border:inset 0 0 0 20px hsl(197,calc(var(--saturation-factor, 1)*100%),50%),inset 0 0 0 20px var(--background-floating);

}

.selected-aXhQR6 .layout-2DM8Md{
   background-color: var(--background-color);
   border-left: 3px solid var(--bef-cha-color);
}

.clickable-1JJAn8 .layout-2DM8Md:hover{
   background-color: var(--background-color);
   border-left: 3px solid var(--bef-cha-color-alpha);
}

.userInfo-2zN2z8,
.peopleListItem-2nzedh {
  overflow: visible;
}

.info-1VyQPT .colorMuted-HdFt4q:last-child:after {
  content: "RadialStatus " var(--rs-version);
  display: block;
}

.container-2wlB3z, .membersWrap-2h-GB4{
	background-color: var(--background-color);
}

.titleContainer-2CXtJo{
	background-color: var(--background-color);
}

.header-2mZ9Ov{
	background-color: var(--background-color);
}

.scroller-305q3I{
	background-color: var(--background-color);
}

.card-4s8auQ{
	background-color: var(--background-color);
}

.settingCard-3w2mVL{
	background-color: var(--background-color);
}

.lookFilled-1Gx00P.colorBrand-3pXr91{
	background-color: var(--color-icon);
	border: 1px solid var(--border-color);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
	border: 1px solid var(--border-color);
	background-color: var(--color-icon);
	opacity: 0.3;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6{
	background-color: var(--color-icon);
	border: 1px solid var(--border-color);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
}

.customScroller-26gWhv{
	background-color: var(--background-color);
}

.content-1SXGsJ{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-top: none;
}

.separator-2-RRj_{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.content-3w6Kuc{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.theme-dark .footer-2gL1pp{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-top: none;
	box-shadow: none;
}

.lookFilled-22uAsw.select-2fjwPw{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
}

.container-EvNTcn{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.itemFilled-3llgIC{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV{
	background-color: var(--color-icon);
	border: 1px solid var(--border-color);
}

.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
}

.container-_phMUq{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.content-1LAB8Z{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.scroller-1d5FgU{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-left: none;
}

nav div.thin-1ybCId.scrollerBase-289Jih{
	border: none;
}

div.scroller-1JbKMe{
    background-color: var(--background-color)  !important; 
    border: none  !important;
}

.categoryItem-ONe8JV.selectedCategoryItem-28UllF .itemInner-1XfZdz{
	background-color: var(--background-color);
}

.scroller-3Vjo4T{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-left: none;
}

.container-1CE3eW{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.title-3w8xhj{
	color: var(--text-color);
}

.templatesList-2E6rTe{
	background-color: var(--background-color)!important;
	border: none!important;
}

.footer-1NnaNd{
	border: none!important;
	border-top: 5px solid var(--border-color)!important;
}

.base-1x0h_U{
	color: var(--text-color);
}

.footer-2gL1pp{
	border: none!important;
	border-top: 5px solid var(--border-color)!important;
}

.optionsList-3UMAjx.thin-1ybCId.scrollerBase-289Jih{
	border: none!important;
	border-top: 5px solid var(--border-color)!important;
}

.content-1LAB8Z.createGuild-23lWNm.thin-1ybCId.scrollerBase-289Jih{
	border: none!important;
	border-top: 5px solid var(--border-color);
}

.scroller-RmtA4e.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2{
	background-color: var(--background-color)!important;
	border: none !important;
	border-top: 5px solid var(--border-color)!important;
}

div.sidebar-2K8pFh div.thin-1ybCId.scrollerBase-289Jih{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-bottom: none;
}

.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp{
	background-color: var(--background-color);
	border: 5px solid var(--border-color) !important;
	border-top: none !important;
}

.textArea-1Lj-Ns{
	border: 1px solid var(--border-color);
}

.icon-1DeIlz{
	color: var(--color-icon);
}

.expandedFolderIconWrapper-3fmTfW svg{
	color: var(--color-icon) !important;
}

.circleIconButton-hZmpE8.selected-3mFF3I{
	background-color: var(--color-icon);
}

.circleIconButton-hZmpE8{
	background-color: var(--background-color);
	color: var(--color-icon);
}

.scroller-2hZ97C{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY{
	background-color: var(--color-icon);
	border: 1px solid var(--border-color);
	border-color: var(--border-color);
}

.lookOutlined-3sRXeN.colorGreen-29iAKY:hover{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
}

div:hover button.lookFilled-1Gx00P.colorGreen-29iAKY{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	opacity: 0.3;
}

button.lookFilled-1Gx00P.colorGreen-29iAKY:hover{
	border: 1px solid var(--border-color);
	background-color: var(--background-color) ;
	opacity: 1 !important;
}

.wrapper-35wsBm{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyCenter-3D2jYp.alignStretch-DpGPf3.noWrap-3jynv6.guildInfo-1STtYi{
	border-right: 3px solid var(--border-color);
}

.colorStandard-2KCXvj.size14-e6ZScH.h5-18_1nd.title-3sZWYQ.header-2BTCnc{
	border-bottom: 3px solid var(--border-color);
}

.bd-addon-list .bd-addon-header{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.bd-description-wrap{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-top: none;
	border-bottom: none;
}

.bd-addon-list .bd-footer{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
	border-top: none;
}

.selectorButton-2es7-i:hover{
	background-color: var(--background-color);
	border: 2px solid var(--border-color);
	opacity: 1;
}

.selectorButton-2es7-i{
	background-color: var(--background-color);
	border: 1px solid var(--border-color);
	opacity: 0.3;
}

.selectorButton-2es7-i.selectorButtonSelected-Jj5-3m{
	background-color: var(--background-color);
	border: 2px solid var(--border-color);
	opacity: 1;
}

.lookFilled-1Gx00P.colorBrandNew-g5lmBU{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	opacity: 0.3;
}

.lookFilled-1Gx00P.colorBrandNew-g5lmBU:hover{
	border: 2px solid var(--border-color);
	background-color: var(--background-color) ;
	opacity: 1;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.justifyBetween-2tTqYu.noWrap-3jynv6.header-1TKi98{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
	border-bottom: none;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp{
	border: 5px solid var(--border-color) !important;
	background-color: var(--background-color);
	border-top: none !important;
}

.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.header-3nFfBB{
	border: 5px solid var(--border-color) !important;
	background-color: var(--background-color);
	border-bottom: none !important;
	padding-top: 16px;
}

.header-3nFfBB{
	margin-top: 0px;
    margin-bottom: 0px;
}

.theme-dark .root-1gCeng{
	background-color: var(--background-color);
}

.content-1LAB8Z.modalContent-N6GsWH.thin-1ybCId.scrollerBase-289Jih{
	padding-top: 16px;
}


.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.header-3nFfBB .closeButton-20eBet.close-hZ94c6.button-38aScr.lookBlank-3eh9lL.colorBrand-3pXr91.grow-q77ONN{
	padding-top: 16px;
}

.modalSize-cqUaws.root-1gCeng.fullscreenOnMobile-1bD22y{
	width: 400px;
	border: none;
}

.modalSize-cqUaws{
	width: 390px;
	border: 5px solid var(--border-color);
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.wrap-ZIn9Iy.sourceContainer-3LOXkb.grid-32iiFi{
	width: 380px;
}

.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStart-H-X2h-.noWrap-3jynv6.header-1TKi98{
	border: 5px solid var(--border-color);
	border-bottom: none;
}

.header-4zuFdR{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.topSection-y3p-_D{
	border: 5px solid var(--border-color);
	border-bottom: none;
	background-color: var(--background-color);
}

.tabBarContainer-37hZsr{
	border-top: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.profileBanner-33-uE1{
	width: 100%;
}

.body-r6_QPy{
	border: 5px solid var(--border-color);
	border-top: none;
	background-color: var(--background-color);
}

.popoutBanner-19WKGg{
	border: 5px solid var(--border-color);
	width: 290px;
}

.headerTop-3vNv-a{
	border: 5px solid var(--border-color);
	border-bottom: none;
	background-color: var(--background-color);
}

.body-3HBlXn{
	border: 5px solid var(--border-color);
	border-top: none;
	border-bottom: none;
	background-color: var(--background-color);
}

.input-2_SIlA{
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
}

.bodyInnerWrapper-26fQXj{
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
}

.bodyTitle-1ySSKn.fontDisplay-1dagSA.base-1x0h_U.size12-3cLvbJ.muted-3-7c5L.uppercase-3VWUQ9{
	border-bottom: 2px solid var(--border-color);
	background-color: var(--background-color);
}

.footer-3UKYOU{
	border: 5px solid var(--border-color);
	border-top: none;
	background-color: var(--background-color);
}

.textarea-2r0oV8.inputDefault-_djjkz.input-cIJ7To.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9{
	width: 97% !important;
	padding: 0px !important;
	margin-left: 4px;
	background-color: var(--background-color);
}

.divider-ewBQKj{
	background-color: var(--border-color);
	height: 2px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY{
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	opacity: 0.3;
}

.platform-win .sidebar-2K8pFh{
	background-color: var(--background-color);
	border-top: 1px solid var(--border-color);
}

.wrapper-3NnKdC{
	background-color: var(--background-color);
}

.standardSidebarView-3F1I7i{

	background-color: var(--background-color);
}

.app-2rEoOp{
	background-color: var(--background-color);
}

.layer-3QrUeG{

	background-color: var(--background-color);
}

.bg-h5JY_x{
	background: var(--background-img) center/cover;
	filter:var(--filter-img);
}

.bd-addon-list .bd-addon-card{
	background-color: var(--background-color);
}

.lookFilled-1Gx00P.colorRed-1TFJan{
	border: 1px solid var(--delet-button);
	background-color: var(--background-color);
	opacity: 0.3;
}

div:hover button.lookFilled-1Gx00P.colorRed-1TFJan{
	border: 1px solid var(--delet-button);
	background-color: var(--background-color);
	opacity: 0.3;
}

button.lookFilled-1Gx00P.colorRed-1TFJan:hover{
	border: 1px solid var(--delet-button);
	background-color: var(--background-color) ;
	opacity: 1 !important;
}

.lookFilled-1Gx00P.colorRed-1TFJan div.contents-18-Yxp{
	color: var(--delet-button);
}

div:hover button.lookFilled-1Gx00P.colorRed-1TFJan div.contents-18-Yxp{
	color: var(--delet-button);
}

button.lookFilled-1Gx00P.colorRed-1TFJan:hover div.contents-18-Yxp{
	color: var(--delet-button);
}

.membersWrap-2h-GB4 .members-1998pB{
	height: calc(100% - 0px) !important;
}

.scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih{
	background-color: var(--background-color);
	border: 2px solid var(--border-color);
	border-radius: 20px;
}

.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ{
	border: 1px solid var(--delet-button);
	background-color: var(--background-color);
	opacity: 0.3;
}

div.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ:hover{
	border: 1px solid var(--delet-button);
	background-color: var(--background-color);
	opacity: 1;
}

div.item-1tOPte.labelContainer-1BLJti.colorDanger-2qLCe1.colorDefault-2K3EoJ .label-22pbtT{
	color: var(--delet-button);
}

.menu-3sdvDG.styleFlexible-wGDiIL{
	background-color: transparent;
}

.submenuPaddingContainer-fiOCHc, .submenu-2-ysNh.menu-3sdvDG{
	background-color: transparent;
}

.menu-3sdvDG.styleFixed-sX-yHV{
	background-color: transparent;
}

.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp.footer-1NnaNd{
	border: none !important;
}

.popout-103y-5.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y{
	border: 5px solid var(--border-color);
}

.item-3HknzM.item-PXvHYJ.themed-OHr7kt{
	border: 1px solid var(--border-color);
	background-color: var(--background-color) !important;
}

.button-38aScr.lookFilled-1Gx00P.colorGreen-29iAKY.hoverGreen-1gjdJc.actionButtonSize-1Znp1q.grow-q77ONN.hasHover-3X1-zV{
	background-color: var(--background-color);
}

.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.hoverGreen-1gjdJc.actionButtonSize-1Znp1q.grow-q77ONN.hasHover-3X1-zV{
	background-color: var(--background-color);
	opacity: 0.3;
}

.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyBetween-2tTqYu.alignCenter-1dQNNs.noWrap-3jynv6.header-1TKi98.separator-2-RRj_{
	border-bottom: none;
}

.perksModal-12XaFK.auto-Ge5KZx.scrollerBase-289Jih{
	background-color: var(--background-color);
	border: 5px solid var(--border-color);
}

.typeWindows-1za-n7.withFrame-haYltI.titleBar-AC4pGV.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3{
	border: 5px solid var(--border-color);
	border-top: 5px solid var(--border-color);
	margin-top: 0px;
	padding-top: 4;
}

.appMount-3lHmkl, body{
	background-color: var(--background-color);
}

.winButton-iRh8-Z{
	margin-top: 4px;
	height: 18px;
}

.container-1KFiob{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.header-1VS4tm{
	border: 5px solid var(--border-color);
	border-bottom: none;
	background-color: var(--background-color);
}

.messagesPopout-24nkyi.thin-1ybCId.scrollerBase-289Jih{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.header-ykumBX{
	border: 5px solid var(--border-color);
	border-bottom: none;
	background-color: var(--background-color);
}

.footer-1kmXd4{
	border: 5px solid var(--border-color);
	border-top: none;
	background-color: var(--background-color);
}

.scroller-tlc3kG.thin-1ybCId.scrollerBase-289Jih{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.channelHeader-3Gd2xq{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.messages-3G3erD{
	border: 5px solid var(--border-color);
	border-top: none;
	background-color: var(--background-color);
	border-radius: 0px 0px 8px 8px;
}

button.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan.sizeMedium-1AC_Sl.grow-q77ONN{
	border: 1px solid var(--border-color);
}

button.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan.sizeMedium-1AC_Sl.grow-q77ONN:hover div.contents-18-Yxp{
	color: var(--text-color);
}

button.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan.sizeMedium-1AC_Sl.grow-q77ONN div.contents-18-Yxp{
	color: var(--text-color);
}

.content-1LAB8Z.content-mK72R6.thin-1ybCId.scrollerBase-289Jih{
	border-radius: 0 0 0 0;
}

.container-3u944p{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.bd-error-modal-header.header-1TKi98.separator-2-RRj_{
	border: 5px solid var(--border-color);
	background-color: var(--background-color);
}

.bd-error-modal-content.content-1LAB8Z.thin-1ybCId.scrollerBase-289Jih{
	border: 5px solid var(--border-color);
	border-bottom: none;
	border-top: none;
	background-color: var(--background-color);
	border-radius: 0 0 0 0;
}

.flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2gL1pp.bd-error-modal-footer{
	border: 5px solid var(--border-color) !important;
	background-color: var(--background-color);
}
