/**
 * @name Horizontal Server List DiscordEdit
 * @author Gibbu#1211 and E.#7528
 * @version 2.1.0
 * @invite ZHthyCw
 * @description Moves the server list from the left to the top of Discord. Compatible with Server Folders and most basic transparent themes. Edit for DiscordEdit by E.7528.
 * @source https://github.com/DiscordStyles/HorizontalServerList
 * @website https://www.gibbu.me
*/

@import url("https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css");

/* Bottom HorizontalServerList. Simply remove the comments surrounding the @import to enable it. */
/* @import url("https://discordstyles.github.io/Addons/bottomhsl.css"); */

:root {
  --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
  --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
}
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt{
  border: 5px solid var(--border-color);
  border-left:none;
}

.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt{
  border: none;
} 
