:root {
      --HSL-server-icon-size: 40px;  /* Size of the server icons | DEFAULT: 40px */
      --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
      --HSL-server-direction: column; /* Direct of the server list. | Options: column, column-reverse | DEFAULT: column */
    }
#app-mount .guilds-2JjMmN .scrollerBase-_bVAAt{
      border: 5px solid var(--border-color);
      border-left:none;
    }
    
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt{
      border: none;
    }
